.main {
    padding-top: 180px;
    height: 233px;
}

.navbar {
    position: fixed;
    top: 0px;
}

.footer {
    display: block;
    background-color: lightgray;
    position: fixed;
    bottom: 0px;
}

li {
    display: inline;
    padding-right: 20px;
}

a {

    color: rgb(90, 89, 89);
    text-decoration: none;
}

ul {
    float: left;
}

button {
    background-color: lightgrey;

}

input {
    background-color: transparent;
    display: flex;
    width: 600px;
    height: 50px;
    border-radius: 50px;
    
}

.right-links {
    position: fixed;
    right:  5px;
}